body{
	background: linear-gradient(117deg,#cccafd69,#f2f0f9,#FFFFFF);
    font-family: 'Montserrat', sans-serif;
}

main{
	
	display: flex;
	itens-align: center;
	justify-content: space-between;
}
.dadosPessoais{
	background:#414475;
	line-height:1.7em;
	width:30%;
	padding: 2em 2em;
	color:#d2b48c;
}

.identificacao{
	border-bottom: solid #f3e7c6;;
	text-align: center;
	
}
.identificacao img{
	border-radius: 50%;
	text-align:left;
	width: 12em;
	height: 12em;
}
.identificacao > h1{
	font-size: 2em;
	font-weight: bold;
	padding: 0.5em 0;
	text-align: left;
	text-transform: uppercase;
}
.identificacao > p{
	padding: 0 0 1em 0;
	text-align: left;
	color: #d2b49D;
	text-shadow: -1px 2px 1px black
}
em{
	font-style: italic;
}
h3{
	padding: 1em 0 0.5em 0;
	font-size: 1.1em;
	font-weight:bold;
	text-transform: uppercase;
	
}
h2{
	padding: 0.5em 0 0.5em 0;
	box-sizing: border-box;
	margin: 0 2em 0 0;
	background: #CCCCCC;
	font-size: 1.5em;
	text-transform: uppercase;
	text-indent: 1em;
	font-weight:bold
}
h2+p{
	padding: 1.2em 3em 1.2em 0;
}
.habilidades>li:before{
	content: " - ";
}

.contatos .container{
	display:flex;
	align-items:center;
	padding-bottom: 5px;
	
}
.container>img{
	height:20px;
	width:20px;
	padding-right: 1em;
}
p a{
	text-decoration: none;
	color:#d2b48c;
}
p a:hover{
	cursor:pointer;
	text-decoration:underline;
	font-size: 1.1em;
}
/*Lado direito da pagina*/

.dadosProfissionais{
	padding: 4em 1em 1em 1em;
	width: 60%;
	height:100%;
}

.informacao{
	margin: 1em 0;
	line-height: 1.5em;
}
.destaque{
	padding: 0.8em 0;
}
